---
layout: base.njk
---

<ul>
  {% for product in products %}
    <li>
        <a href={{ "/cybernetic-coven/products/" + product.permalink | url }}>{{ product.name }}</a> – {{ product.price.raw }} USD
    </li>
  {% endfor %}
</ul>