---
layout: base.njk
---
<h1>Our Products</h1>
<p>Check out what we have available for purchase!</p>
<section class="product-list">

  {% for product in products %}
    <product>
        {% if product.image %}
          <a href={{ "/cybernetic-coven/products/" + product.permalink | url }}><img class="thumbnail" src={{product.image.url}}></a>
        {% endif %}
        <a href={{ "/cybernetic-coven/products/" + product.permalink | url }}>{{ product.name }}</a>
        <span class="price">{{ product.price.raw }} USD</span>
    </product>
  {% endfor %}
</section>